@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: 0 0% 10%;
        --foreground: 0 0% 100%;
        --card: 0 0% 100%;
        --card-foreground: 0 0% 3.9%;
        --popover: 0 0% 100%;
        --popover-foreground: 0 0% 3.9%;
        --green: 83 100% 50%;
        --primary: 0 0% 10%;
        --primary-foreground: 0 0% 100%;
        --secondary: 0 0% 15%;
        --secondary-foreground: 0 0% 80%;
        --dimmed: 0 0% 14%;
        --dimmed-foreground: 240 1% 60%;
        --muted: 0 0% 96.1%;
        --muted-foreground: 0 0% 45.1%;
        --accent: 0 0% 96.1%;
        --accent-foreground: 0 0% 9%;
        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 0 0% 98%;
        --border: 0 0% 20%;
        --input: 0 0% 89.8%;
        --ring: 0 0% 3.9%;
        --radius: 0.5rem;
        --chart-1: 12 76% 61%;
        --chart-2: 173 58% 39%;
        --chart-3: 197 37% 24%;
        --chart-4: 43 74% 66%;
        --chart-5: 27 87% 67%;

        /* Colors */
        --green-50: 83 100% 50%;
        --green-60: 83 100% 60%;
        --green-70: 83 100% 70%;
        --green-80: 83 100% 80%;
        --green-90: 83 100% 90%;
        --green-95: 83 100% 95%;
        --green-97: 83 100% 97%;
        --green-99: 83 100% 99%;

        --grey-10: 0 0% 10%;
        --grey-15: 0 0% 15%;
        --grey-20: 0 0% 20%;
        --grey-30: 0 0% 30%;
        --grey-35: 0 0% 35%;
        --grey-40: 0 0% 40%;
        --grey-60: 0 0% 60%;
        --grey-90: 0 0% 90%;

        --linear-grey-14: to bottom, hsla(0, 0%, 20%, 1), hsla(0, 0%, 20%, 0);
        --linear-grey-18: to bottom, hsla(0, 0%, 18%, 1), hsla(0, 0%, 14%, 0);
    }

    .dark {
        --background: 0 0% 3.9%;
        --foreground: 0 0% 98%;
        --card: 0 0% 3.9%;
        --card-foreground: 0 0% 98%;
        --popover: 0 0% 3.9%;
        --popover-foreground: 0 0% 98%;
        --primary: 0 0% 98%;
        --primary-foreground: 0 0% 9%;
        --secondary: 0 0% 14.9%;
        --secondary-foreground: 0 0% 98%;
        --muted: 0 0% 14.9%;
        --muted-foreground: 0 0% 63.9%;
        --accent: 0 0% 14.9%;
        --accent-foreground: 0 0% 98%;
        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 0 0% 98%;
        --border: 0 0% 14.9%;
        --input: 0 0% 14.9%;
        --ring: 0 0% 83.1%;
        --chart-1: 220 70% 50%;
        --chart-2: 160 60% 45%;
        --chart-3: 30 80% 55%;
        --chart-4: 280 65% 60%;
        --chart-5: 340 75% 55%;
    }
}

@layer base {
    * {
        @apply border-border;
        box-sizing: border-box !important;
    }

    body {
        @apply bg-background text-foreground;
    }

    header {
        background-image: url('../../public/Hero.webp');
        background-position: bottom center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .wrapper {
        @apply w-full lg:!max-w-7xl xl:!max-w-[1596px];
        @apply mx-auto px-4;
    }

    .btn-outline {
        @apply hover:!bg-[hsl(var(--green-50))];
        @apply hover:!border-none;
    }

    .banner {
        background-image: url('../../public/banner.webp');
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        background-color: hsl(var(--green-60));
        background-blend-mode: multiply;
    }

    .btn-green {
        @apply !bg-[hsl(var(--green-50))] hover:!bg-[hsl(var(--grey-20))];
        @apply hover:!text-primary-foreground;
        @apply hover:!border hover:!border-[hsl(var(--grey-20))];
        @apply !text-primary;
    }

    label {
        @apply lg:!text-lg xl:text-xl;
    }

    form p {
        @apply lg:!text-base xl:!text-lg;
    }
}